--- drivers/misc/Kconfig
+++ drivers/misc/Kconfig
@@ -580,4 +580,5 @@ source "drivers/misc/uacce/Kconfig"
 source "drivers/misc/pvpanic/Kconfig"
 source "drivers/misc/mchp_pci1xxxx/Kconfig"
 source "drivers/misc/cix/sensor/core/Kconfig"
+source "drivers/misc/cix/armchina-npu/Kconfig"
 endmenu
