# SPDX-License-Identifier: GPL-2.0
config HISYSEVENT
	bool "Enable HiSysEvent framework"
	depends on HIEVENT && EXPERIMENTAL
	default y if PLAT_BBOX
	help
	  Say Y here to enable the Android OpenHarmony HiSysEvent framework.
