# SPDX-License-Identifier: GPL-2.0
config HIEVENT
	tristate "Enable HiSysEvent HiEvent subsystem"
	depends on ARCH_CIX_EMU_FPGA && EXPERIMENTAL
	help
	  Enable the Android OpenHarmony HiEvent event-logging subsystem

config BBOX_BUFFER_SIZE
	int "bbox buffer size"
	depends on HIEVENT
	default 2048
	help
	  Define the default ring buffer size of BBOX
